.barChart {
    fill: steelblue;
    stroke: darkgray;
    stroke-width: 1px;
}

.lines {
    stroke: steelblue;
    fill: none
}

.areas {
    stroke: none;
    fill: steelblue
}

circle {
    fill: steelblue;
}

.frame {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

line{
    stroke:darkGrey;
    stroke-width:6;
}

.label{
    fill:white;
    font-weight: bold;
    text-anchor: middle;
    font-size: 16px;
    letter-spacing: 3px;
}

/* Styles that clean up the layout;
 * you can ignore these */
.div2 {
    display: inline-block;
    border: 1px solid lightgray;
    margin: 1em;
}

div, span {
    padding: 1em;
}


.countries {
    stroke: #f7f7f7;
    fill: #d9d9d9;
}

.legend-element {
    width: 15px;
    height: 15px;
}

.team {
    fill: #fee8c8;
}

.team-html {
    background-color: #fee8c8;
}

.host {
    fill: #2b8cbe;
}

.gold {
    fill: #FFD700;
    opacity: .8;
    stroke: #252525;
    stroke-width: 2px;
}

.silver {
    fill: #d9d9d9;
    opacity: .8;
    stroke: #252525;
}

.selected {
    fill: #d20a11 !important;
}

/*Map grid style*/
.grat {
    stroke: grey;
    stroke-width: 1px;
    opacity: .2;
}

@font-face {
    font-family: 'font2';
    src: url('assets/font2.ttf');
}

@font-face {
    font-family: 'font1';
    src: url('assets/font1.ttf');
}

h1 {
    margin-top: 0;
    font-family: 'font2';
    color: #d20a11;
}

h2 {
    font-family: 'font2';
    color: #d20a11;
    padding-bottom: 0;
    margin-top: 3px;
    margin-bottom: 0;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

* {
    font-family: 'font1';
}

header {
    padding: 0.5em;
    clear: left;
    text-align: left;
    height: 100px;
}

#logo {
    float: right;
    height: 100px;
}


#plot-selector {
    float: right;
    margin-bottom: 5px;

}

.view {
    padding: 0.5em;

}


#details {
    width: 200px;
    padding: 0.5em;
    float: left;

    border-width: 1px;
    border-color: #d9d9d9;
    border-right-style: solid;
}

#bar-chart {
    width: 500px;
    margin-right: 20px;
    float: left;

}

#map-view {
    /*margin-left: 750px;*/
    width: 940px;
    border-width: 1px;
    border-color: #d9d9d9;
    border-left-style: solid;
}


#links > line {
    stroke: rgb(216, 216, 216);
}

#xAxis path,
#yAxis path {
    fill: none;
    stroke: black;
}

#xAxis text {
    font-size: 14px;

}

/*for hw5, link the table and the tree*/
table {
    border-collapse: collapse;
    font: 14px sans-serif;
    /*width: 720px;*/
}

th {
    font-weight: normal;
    text-align: right;
    padding-right: 6px;
    /*min-width: 170px;*/
}

thead td , th{
    cursor: s-resize;
}

tbody tr:first-child td {
    padding-top: 2px;
}

tbody th{
    cursor:pointer;
    font-weight: bold;
}

.aggregate{
    color: #317f19;
}

.game{
    color: #b1b1b1;
}

tbody td {
    padding-right: 5px;
    padding-left: 5px;
    border-left: solid 1px #000;
    color:black
}

tbody tr:hover {
    background-color: #dbdbdb;
}

tbody tr .game {
    background-color: #f0f0f0;
}

/*tbody tr .game:hover {*/
/*background-color: #dbdbdb;*/
/*}*/

.label{
    fill: #ffffff;
    font: 14px sans-serif;
}

@font-face {
    font-family: 'aller';
    src: url('assets/aller.ttf');
}

@font-face {
    font-family:'brazil';
    src: url('assets/brasil_cup_font.otf');
}

h1 {
    margin-top: 0;
    font-family: 'brazil';
    color: #317f19;
}

h2 {
    font-family: 'brazil';
    color: #317f19;
    padding-bottom: 0;
    margin-top: 3px;
    margin-bottom: 0;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

* {
    font-family: 'aller';
}

header {
    padding: 0.5em;
    /*clear: left;*/
    text-align: center;
    height: 100px;
}

#logo {
    float: right;
    height: 100px;
}

.goalBar{
    opacity:0.6;
}

.goalCircle{
    stroke-width: 3px;
    r:5;
}


.node circle {
    fill: #be2714;
}
.nodeCircle {
    fill: #be2714;
    stroke: #be2714;
}
.tieCircle {
    fill: grey;
    stroke: grey;
}
.nodeCircleGame {
    stroke: #be2714;
    fill:white;
}
.tieCircleGame {
    fill: white;
    stroke: grey;
}

.node text {
    font: 14px sans-serif;
}

.winner circle {
    fill: #364e74;
}
.winnerCircle {
    fill: #364e74;
    stroke: #364e74;
}
.winnerCircleGame {
    stroke: #364e74;
    fill:white;
}

.loser text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.linkf {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 2px;
}

.selectedf {
    stroke: #be2714;
    stroke-width: 4px;
}

.selectedLabel {
    fill: #be2714;
    font-weight: bolder;

}

.view {
    width: 850px;
    padding: 0.5em;
    float: left;
}